html, body {
    padding: 0;
    margin: 0;    
    font-family: 'Noto Serif', serif;
    background-color: #221d1d;
    color: aliceblue;
}

#header .topo{
    height: 60px;
    background: #5c5c5c;
    align-items: center;
    display: flex;
    gap: 15px;
    padding: 0 20px;
    text-align: right;
}

#header .topo p {
    margin-bottom: -15px;
    margin-left: 960px;
}

::selection{
  color: #fff;
  background: #664AFF;
}

.container{
  max-width: 450px;
  margin: 150px auto;
}

.container .searchInput{
  background: #fff;
  width: 100%;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
}

.searchInput input{
  height: 55px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 60px 0 20px;
  font-size: 18px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}

.searchInput.active input{
  border-radius: 5px 5px 0 0;
}

.searchInput .resultBox{
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 280px;
  overflow-y: auto;
}

.searchInput.active .resultBox{
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}

.resultBox li{
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;
}

.searchInput.active .resultBox li{
  display: block;
}
.resultBox li:hover{
  background: #efefef;
}

.searchInput .icon{
  position: absolute;
  right: 0px;
  top: 0px;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  color: #644bff;
  cursor: pointer;
}

.quadro {
    margin: 40px 40px;
    height: auto;
    width: auto;
    text-align: center;
}

.quadro .infos {
    margin: 5px;
    padding: 10px;
    width: 280px;
    height: 270px;
    display: inline-flex;
    flex-direction:column;
    border: 2px solid rgb(115, 255, 0);
    text-align: center;
    position: relative;
}

.quadro .infos h1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0px;
}

.quadro .infos #data {
    color: rgb(241, 145, 34);
    margin-top: 5px;
    margin-bottom: 20px;
}

.quadro .infos #tempMin {
    text-align:start ;
    margin-top: 5px;
    margin-bottom: 5px;
}

.quadro .infos #tempMax {
    text-align:end ;
    margin-top: -25px;
    margin-bottom: 5px;
}

.quadro .infos #temp {
    position: absolute;
    right: 0px;
    margin-right: 10px;
    bottom: 70px;
}

.quadro .infos #humidade {
    position: absolute;
    right: 0px;
    margin-right: 10px;
    bottom: 40px;
}

.quadro .infos #desc {
    position: absolute;
    right: 0px;
    margin-right: 10px;
    bottom: 10px;
}

.quadro .infos img {
    width: 50%;
    margin-top: 15px;
}


footer {
    position: absolute;
    bottom: 0;
    background-color: rgb(62, 66, 65);
    width: 100%;
    text-align: right;
    padding-right: 20px;
    display: flex;
}

.quadro .infos #fechar {
  position: absolute;
  right: 5px;
}